/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.bnsLogo{
    margin: 20px 10px;
}
.navbar-brand>img {
    max-height: 100%;
    height: 100%;
    width: auto;
    margin: 0 auto;


    /* probably not needed anymore, but doesn't hurt */
    -o-object-fit: contain;
    object-fit: contain;

}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:125px;
    max-height:250px;
}

.carousel{
    max-height:200px;

}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;

    }
}


.modal-content{
    width: 270px;

}

.modal{
    position:fixed;
    left:30%;
}

.faction-logo
{
    width:80px;
    height:80px;
}

div.caption{
    float: left;
    clear: both;
}


